<mat-toolbar color="primary" *ngIf="verificar()">
  <button mat-button [routerLink]="['/homes']">
    <mat-icon>home</mat-icon>Home
  </button>
  <button mat-button [matMenuTriggerFor]="menuMembresia" *ngIf="isAdmin()">
    <mat-icon>menu</mat-icon>Membresias
  </button>
  <button
    mat-button [matMenuTriggerFor]="menuTestacionamiento" *ngIf="isAdmin()">
    <mat-icon>menu</mat-icon>Tipos de estacionamiento
  </button>
  <button
    mat-button [matMenuTriggerFor]="menuEstacionamiento" *ngIf="isAdmin()">
    <mat-icon>menu</mat-icon>Estacionamientos
  </button>
  <button
  mat-button [matMenuTriggerFor]="menuTpago" *ngIf="isAdmin()">
  <mat-icon>menu</mat-icon>Tipos de pago
</button>
<button
mat-button [matMenuTriggerFor]="menuPago" *ngIf="isAdmin()">
<mat-icon>menu</mat-icon>Pago
</button>

  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menuSalir" class="large-icon-button">
    <div class="icon-container"><mat-icon class="large-icon">account_circle</mat-icon></div>
  </button>
</mat-toolbar>

<mat-menu #menuMembresia="matMenu">
  <button mat-menu-item routerLink="/membresias">Listar</button>
  <button mat-menu-item routerLink="/membresias/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuTestacionamiento="matMenu">
  <button mat-menu-item routerLink="/testacionamientos">Listar</button>
  <button mat-menu-item routerLink="/testacionamientos/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuEstacionamiento="matMenu">
  <button mat-menu-item routerLink="/estacionamientos">Listar</button>
  <button mat-menu-item routerLink="/estacionamientos/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuTpago="matMenu">
  <button mat-menu-item routerLink="/tpago">Listar</button>
  <button mat-menu-item routerLink="/tpago/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuPago="matMenu">
  <button mat-menu-item routerLink="/pago">Listar</button>
  <button mat-menu-item routerLink="/pago/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>