<div class="container">
    <div class="title-container"><h1 class="title">Lista de Pago</h1></div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">{{ element.idPago }}</td>
      </ng-container>
  
      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.documentoPago }}
        </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element">{{ element.montoPago }}</td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaPago | date:'dd/MM/yyyy' }}
        </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let element">
          {{ element.horaPago | date:'HH:mm:ss'}}
        </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="tpago">
        <th mat-header-cell *matHeaderCellDef>Tpago</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tpago.tipoPagoID }}
        </td>
      </ng-container>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="warn"
            [routerLink]="['ediciones', element.idPago]"
          >
          <mat-icon>update</mat-icon>
          </button>
        </td></ng-container
      >
      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="accent"
            (click)="eliminar(element.idPago)">
          <mat-icon>delete</mat-icon>
          </button>
        </td></ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  